.post-container {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}
.cz-post {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.cz-post h2 {
    font-family: 'Merriweather', serif;
    font-size: 2.2em;
    color: #333;
    margin-bottom: 1rem;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
}
.cz-post p, .cz-content {
    font-family: 'Merriweather', serif;
    font-size: 1.1em;
    line-height: 1.8;
    color: #444;
    margin-bottom: 1.5rem;
}

@media (max-width: 600px) {
    .cz-post {
        padding: 1rem;
        border-top-left-radius: 0px;
  border-top-right-radius: 0px;
    }
    .cz-post h2 {
        font-size: 1.8em;
    }
    .cz-post p, .cz-content {
        font-size: 1em;
    }
    .post-container {
        padding: 0rem;
    }
    
}

.cz-content a {
    color: #8E24AA;
    text-decoration: underline ;
    font-weight: bold;
    transition: color 0.3s ease;
}

.cz-content a:hover {
    color: #BF5A39;
}

.cz-content img {
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
}

.cz-author {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-content: center;
    
  
    
}

.cz-author-head h2 {
    text-align: center;
    font-size: 3.5em;
    color: #333;
    margin-bottom: 1rem;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
}
.cz-author-image {
    height: 12vmin;
    width: 12vmin;
    margin: 0 auto 1.5em;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

}

@media (max-width: 600px) {
    .cz-author {
        padding: 1rem;
        border-top-left-radius: 0px;
  border-top-right-radius: 0px;
    }
    .cz-author-head h2 {
        font-size: 2.5em;
    }
    .cz-author-image {
        height: 8vmin;
        width: 8vmin;
    }
    
}