.post-container {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}
.cz-post {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.cz-post h2 {
    font-family: 'Merriweather', serif;
    font-size: 2.2em;
    color: #333;
    margin-bottom: 1rem;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
}
.cz-post p, .cz-content {
    font-family: 'Merriweather', serif;
    font-size: 1.1em;
    line-height: 1.8;
    color: #444;
    margin-bottom: 1.5rem;
}

@media (max-width: 600px) {
    .cz-post {
        padding: 1rem;
    }
    .cz-post h2 {
        font-size: 1.8em;
    }
    .cz-post p, .cz-content {
        font-size: 1em;
    }
    .post-container {
        padding: 0rem;
    }
    
}

.cz-content a {
    color: #8E24AA;
    text-decoration: underline ;
    font-weight: bold;
    transition: color 0.3s ease;
}

.cz-content a:hover {
    color: #BF5A39;
}

.cz-content img {
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
}