/* Variables
/* ---------------------------------------------------------- */

:root {
    --primary-color: #8E24AA;
    --secondary-color: #bf5a39;
    --dark-color: #2E0854;
    --light-color: #F3E5F5;
    --font-light: 100;
    --font-normal: 400;
    --font-bold: 700;
    --font-heavy: 800;

    /* Breakpoints */
    --xlarge: 1680px;
    --large: 1280px;
    --medium: 980px;
    --small: 740px;
    --xsmall: 480px;

    /* Sizes */
    --height: 4rem;
    --margin: 2rem;
    --radius: 0.5rem;

    
}
